.DrawerToggle {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 14px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.DrawerToggle div {
  width: 80%;
  height: 4px;
  background-color: black;
}

@media (min-width: 500px) {
  .DrawerToggle {
      display: none;
  }
}