#page-content-wrapper {
  background-color: #e1e0eb;
}
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
}

#sidebar-wrapper .sidebar-heading {
  color: #dddbf1;
  padding: 10px 7vw 10px 7vw;
  font-size: 25px;
}

.sidenav a {
  padding: 24px 4vw 24px 4vw;
  text-decoration: none;
  font-size: 18px;
  color: #dddbf1;
  display: block;
}

.sidenav a:hover {
  color: #383f51;
}

.bg-blue {
  background: #383f51;
}

#row1 {
  margin-top: 10%;
}
#row2 {
  margin-top: 15%;
}

.radius {
  border-radius: 1.5em;
  background-color: white;
}

h1,
h2 {
  padding-left: 1vw;
}
