@import '../../App.css';

.page-home {
    background-color: var(--bg-primary);
    font-family: 'ABeeZee', sans-serif;
}

.home-promotion-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.home-banner {
    height: 55vw;
    padding: 7vw 5vmin;
}

.home-banner-box {
    background-color: var(--bg-mocha);
    width: 100%;
    height: 100%;
}

.home-lastest-product {
    color: var(--text-color-primary);
}

.home-lastest-product-head {
    padding: 0 5vmin;
}

.home-lastest-product-head h3 {
    margin: 0;
    font-size: 4vmin;
}

.home-lastest-product-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2vmin 0;
}

.home-lastest-product-arrow button {
    margin: 0 1vmin;
}

.home-discover {
    display: flex;
    justify-content: flex-end;
    padding: 0 5vmin;
}

.home-discover-box {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-discover h5 {
    margin: 0;
    padding: 0;
    font-size: 2.5vmin;
}

.discover-arrow-img {
    width: 3vmin;
    margin: 0 1vmin;
}

.home-new-product {
    width: auto;
    margin: 3vmin 0;
    /* background-color: violet; */
}

.home-new-product-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-new-product-box {
    width: 33.33%;
    padding: 0 2vmax;
}

.home-new-product-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home-new-product-name {
    margin: 1vmax 0;
}

.home-new-product-name h5 {
    font-size: 1.3vmax;
}

.home-new-product-price h5 {
    font-size: 1.3vmax;
    font-weight: bold;
}
