
.background {
    font-family: 'Roboto';
    height: 100vh;
    background-color: #F1EFFF;
    padding: 5%;
}

.container {
    height: 100%;
}

#header h2, h5{
    display: inline-block;
}

#header h5 {
    float: right;
    text-indent: 10px;
}

#order-list {
    height: 90%;
    width: 100%;
    overflow: auto;
}

.order-item {
    height: 200px;
    width: 100%;
    background-color: #B8A7A7;
    margin: 0 0 5px 0;
    padding: 2%;
}

#order-status {
    height: 200px;
    width: 100%;
    background-color: #B8A7A7;
    margin: 0 0 5% 0;
}

#products-order-list {
    height: 45%;
    width: 100%;
    overflow: auto;
}

.product-order {
    height: 100px;
    width: 100%;
    background-color: #B8A7A7;
    margin: 0 0 5px 0;
    padding: 2%;
    border-radius: 10px;
}