
.background {
    font-family: 'Roboto';
    height: 100vh;
    background-color: #F1EFFF;
    padding: 5%;
}

.container {
    height: 100%;
}

.row {
    height: 100%;
    padding-top: 10%;
}

.left-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#customer-picture {
    /* margin-bottom: 5%; */
}

.border .border-dark {
    height: 100px;
    width: 100px;
}

#order-button {
    border-radius: 20px;
    width: 45%;
}

#border-image {
    height: 230px;
    width: 230px;
    border: 5px solid rgb(119, 119, 119);
    margin: 0 0 5% 0;
    border-radius:50%;
    padding: 10px;
}